<div class="container">
  <div *ngIf="profileView">
    Show kweets from followers <input type="checkbox" [checked]="followerView" (change)="changeView()" />
  </div>
  <div class="kweets">
    <div *ngFor="let kweet of kweets">
      <div class="messageContents">
        <div *ngIf="followers != undefined">
          <div *ngIf="kweet.owner.username != username">
            <button *ngIf="!findUser(kweet.owner.username)" (click) ="followUser(kweet.owner.username)">Follow</button>
            <button *ngIf="findUser(kweet.owner.username)" (click)="unfollowUser(kweet.owner.username)">Unfollow</button>
          </div>
        </div>
      <h3>{{kweet.owner.username}}</h3>
        {{kweet.messageContents}}
      </div>
    </div>
  </div>

  <div *ngIf="profileView" class="postKWeet">
    <div class="list-group-item">
      <div class="message-input">
        <input [(ngModel)]="text" class="form-control" type="text" placeholder="Enter that what you want to kweet!"
               aria-label="Message">
      </div>
      <button class="btn btn-primary d-none d-md-block d-sm-block" type="submit" (click)="sendKweet()">New Message
      </button>
    </div>
  </div>
</div>
